body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color:white;
}

/* NAVBAR */
.navbar{
    background: #020617;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 4px 20px rgba(0,0,0,0.5);
}

.addbtn{
    background:linear-gradient(45deg,#00c6ff,#0072ff);
    border:none;
    padding:10px 18px;
    color:white;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
}

/* CONTAINER */
.container{
    width:85%;
    margin:auto;
    margin-top:40px;
}

/* CARD */
.card{
    background:#020617;
    margin-bottom:30px;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.6);
    transition:0.3s;
}

.card:hover{
    transform:scale(1.02);
}

.post-img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.content{
    padding:20px;
}

.date{
    color:gray;
    font-size:14px;
}

.delete{
    color:red;
    text-decoration:none;
}

/* FORM */
.form-container{
    width:40%;
    margin:auto;
    margin-top:80px;
    background:#020617;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.6);
}

input, textarea{
    width:100%;
    padding:12px;
    margin-top:10px;
    margin-bottom:15px;
    background:#0f172a;
    border:none;
    color:white;
    border-radius:8px;
}

button{
    width:100%;
    padding:12px;
    background:linear-gradient(45deg,#ff416c,#ff4b2b);
    border:none;
    color:white;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;
}
