<!DOCTYPE html>
<html>
<head>
<title>Add Post</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="form-container">
<h2>✍ Create New Blog</h2>

<form method="POST" enctype="multipart/form-data">

<input type="text" name="title" placeholder="Enter title" required>

<textarea name="content" placeholder="Write content..." required></textarea>

<input type="text" name="date" placeholder="Date">

<input type="file" name="image">

<button type="submit">🚀 Publish</button>

</form>

<br>
<a href="/">⬅ Back Home</a>
</div>

</body>
</html>
